@import '../_config.scss';
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.m-login {
  width: 500px;
  text-align: center;
  background: green;
  line-height: 50px;
  font-size: 25px;
  .m-page-name {}
  .m-page-color {}
}